# Snowflake Configuration
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ACCOUNT=
KEY_REQUIRED=false
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=CUSTOMER360_DB
SNOWFLAKE_SCHEMA=PUBLIC

# PostgreSQL Configuration
POSTGRES_USER=snowflake_admin
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_DB=postgres
